@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#050a15] text-white font-montserrat;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bebas tracking-wide;
  }
}

.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
}
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

/* Hide scrollbar for review carousel */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
